/* line 8, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container h3 a,
.restructuredtext_container h4 a,
.restructuredtext_container h5 a,
.restructuredtext_container h6 a {
  text-decoration: none;
}
/* line 14, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .topic {
  padding: .5em 1em .5em 1em;
  border: 1px solid #cdcdcd;
  background-color: #f2f2f2;
  font-size: .9em;
  color: #384976;
  text-shadow: none;
}
/* line 22, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .topic-title {
  font-size: 1.1em;
  color: #365578;
  font-weight: bold;
}
/* line 29, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .admonition-title {
  font-weight: bold;
}
/* line 40, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .attention,
.restructuredtext_container .caution,
.restructuredtext_container .danger,
.restructuredtext_container .error,
.restructuredtext_container .hint,
.restructuredtext_container .important,
.restructuredtext_container .note,
.restructuredtext_container .tip,
.restructuredtext_container .warning {
  padding: .1em .7em .1em 3.4em;
  border: 1px solid #cdd9f7;
  background-color: #e8efff;
  font-size: .9em;
  color: #384976;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: .7em .7em;
}
/* line 50, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .attention p + p,
.restructuredtext_container .caution p + p,
.restructuredtext_container .danger p + p,
.restructuredtext_container .error p + p,
.restructuredtext_container .hint p + p,
.restructuredtext_container .important p + p,
.restructuredtext_container .note p + p,
.restructuredtext_container .tip p + p,
.restructuredtext_container .warning p + p {
  padding-top: .2em;
}
/* line 54, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .note {
  background-image: url('../images/notices/about.png?1354984896');
}
/* line 61, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .attention,
.restructuredtext_container .important,
.restructuredtext_container .warning,
.restructuredtext_container .danger,
.restructuredtext_container .error {
  color: #763848;
  border: 1px solid #f7cdd7;
  background-color: #ffe8ed;
  background-image: url('../images/notices/alert.png?1354984896');
}
/* line 68, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .danger,
.restructuredtext_container .error {
  background-image: url('../images/notices/stop.png?1354984896');
}
/* line 73, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container blockquote {
  width: 96%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  border-left: 3px solid #aaaaaa;
  background-color: #ffffff;
  text-shadow: none;
}
/* line 82, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container pre {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #e8efff;
  border: 1px solid #d3d3d3;
  overflow: auto;
  text-shadow: none;
}
/* line 91, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container code {
  width: 100%;
  background-color: #e8efff;
  border-bottom: 1px solid #d3d3d3;
  overflow: auto;
}
/* line 98, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container tt.literal {
  background-color: #e8efff;
  border-bottom: 1px solid #B0B0B0;
  text-shadow: none;
}
/* line 104, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container ul, .restructuredtext_container ol {
  margin-left: 26px;
}
/* line 107, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container dt {
  margin-top: 16px;
  font-weight: bold;
}
/* line 111, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container dt:first-child {
  margin-top: 0;
}
/* line 116, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygments-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
/* line 123, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygmentstable,
.restructuredtext_container .pygments {
  width: 98%;
  margin: .5em 1% .5em 1%;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
/* line 129, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygmentstable .pygments {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}
/* line 135, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygmentstable td.linenos {
  width: 1%;
  padding-left: .4em;
  padding-right: .4em;
  border-right: 1px solid #aaaaaa;
  text-align: right;
  background-color: #f0f0f0;
}
/* line 143, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygmentstable td.code {
  padding-left: .4em;
  background-color: #ffffff;
}
/* line 148, ../../foundation_theme/scss/restructuredtext.scss */
.restructuredtext_container .pygmentstable pre,
.restructuredtext_container .pygments pre {
  width: auto;
  padding-left: .5em;
  padding-right: .5em;
  background-color: transparent;
  border: 0;
  overflow: auto;
}
