{% load mptt_tags %}
<ul class="dropdown tree-bulletlist">
    {% recursetree page_list %}
        <li class="{% if active_page_instance and active_page_instance.slug == node.slug %}active{% endif %}{% if not node.is_leaf_node %} has-dropdown{% endif %}">
            <a href="{% url documents-page-details node.slug %}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="dropdown">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        <li class="divider"></li>
    {% endrecursetree %}
</ul>