{% extends "base_fixed.html" %}
{% load i18n documents_markup documents_utils %}

{% block head_title %}{{ page_instance.title }}{% endblock %}

{% block head_more_links %}
    {% include "sveedocuments/include_css.html" %}
{% endblock %}

{% block breadcrumbs_content %}{% endblock %}

{% block header_topbar_attrs %} class="contain-to-grid with-intro"{% endblock %}

{% block intro %}<div class="row-fluid" id="content-intro">
    {% document_context page_instance %}
    <div class="row restructuredtext_container">
        {{ page_instance|document_render }}
    </div>
</div>{% endblock %}

{% block content %}
<div id="apps">
    <h3>{% trans "Applications" %}</h3>
    {% show_applications_toc %}
</div>
{% endblock %}