// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

// Control which mixins you have access too

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";

@import "modular-scale";
@import "foundation/common/globals";

// Must include the grid for any responsiveness

@import "foundation/components/grid";

// Control which common styles get compiled

@import "foundation/common/typography";
@import "foundation/common/forms";

// Control which components you get if customizing

@import "foundation/components/modules/buttons";
@import "foundation/components/modules/tabs";
@import "foundation/components/modules/ui";
@import "foundation/components/modules/topbar";
@import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@import "font-awesome";

// Just used to see the real values calculated by "modular-scale"
#dummyms{
    .cl0{
        font-size: ms(0);
    }
    .cl1{
        font-size: ms(1);
    }
    .cl2{
        font-size: ms(2);
    }
    .cl3{
        font-size: ms(3);
    }
    .cl4{
        font-size: ms(4);
    }
    .cl5{
        font-size: ms(5);
    }
    .cl6{
        font-size: ms(6);
    }
}

/* Corps du contenu */
#body_content{
    padding-left: 1%;
    padding-right: 1%;
}

//*
// Foundation base customizing
//*

// To force clearfix on some element without needing to include the mixin in the css but 
// directly by adding the css class to the element
.float-clearfix{
    @include clearfix;
}

// TODO: this has to be setted in the settings
.top-bar{
    background-color:#000000;
}

// Row fluid block add-on, this is has to be used with "row" class, the row will adjust 
// to the available width
.row-fluid {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    @extend %clearfix;
}

// Styling the <select/> element like other <input/>
select{
    @extend input[type="text"];
    box-shadow: none;
}

// TODO: Try to use modular scale than fixed size
fieldset{ 
    // Fieldsets need a bottom padding too !
    padding: 12px 12px;
    // Try to distinguish fieldset from the page background
    background-color: #FCFCFC;
    @include box-shadow(0 1px 2px rgba(0,0,0,0.1));
    
    // More readable legends and labels
    legend, label{ 
        font-size: 16px;
    }
    
    // Much better spacing between row blocks
    .row + .row{ 
        margin-top: 12px;
    }
}

// For SplitDateTimeField
.datetimesplit{
     .row & .row{
        margin-left: 0;
        margin-right: 0;
    }
    .dateinput{
        float: left;
        width: 49.5%;
    }
    .timeinput{
        float: right;
        width: 49.5%;
        //@include clearfix;
    }
}

// Give a little spaces between button in the button holders 
.buttonHolder{
    text-align:right;
    
    input.button + input.button,
    button + button{
        margin-left: ms(0) / 2;
    }
}

//Fix needed for fullwidth layout else this provokes displaying horizontal scrollbar
.top-bar ul.right .has-dropdown .dropdown {
    //right: -1px;
    right: 0;
}

//*
// Other stuff
//*
table.full{
    width: 100%;
}

//*
// Footer
//*
#footer{
    margin-top: 20px;
    color: #666666;
    background-color: #000000;
    text-align:center;
}
