{% load i18n %}
{% for app in application_toc %}
    <div class="panel radius">
        <h4>{{ app.title }}</h4>
        <p class="desc">{{ app.desc }}</p>
        <ul class="button-group radius">
            <li><a class="button radius" href="{{ app.doc_link }}">{% trans "Documentation" %}</a></li>
            {% if app.demo_link %}<li><a class="button radius" href="{{ app.demo_link }}">{% trans "Demonstration" %}</a></li>{% endif %}
            {% if app.github_link %}<li><a class="button radius" href="{{ app.github_link }}">{% trans "Github repository" %}</a></li>{% endif %}
            {% if app.download_link %}<li><a class="button radius" href="{{ app.download_link }}">{% trans "Download" %}</a></li>{% endif %}
        </ul>
    </div>
{% endfor %}
