{% load i18n autobreadcrumb documents_utils %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% spaceless %}<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block head_title %}{{ SITE.name }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="Stylesheet" title="Normal" media="screen" type="text/css" href="{{ STATIC_URL }}theme/css/base.css"/>
    <link rel="Stylesheet" title="Normal" media="screen" type="text/css" href="{{ STATIC_URL }}theme/css/screen.css"/>
    <link rel="Stylesheet" title="Normal" media="screen" type="text/css" href="{{ STATIC_URL }}theme/css/content.css"/>
    {% block head_more_links %}{% endblock %}

    {% block head_base_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/plugins/equalizeCols.js"></script>
    <script language="JavaScript" type="text/javascript">
    //<![CDATA[
    function equalize_layout_cols() {
        $("#body_content, #menu_content .sub-layer").equalizeCols();
    };
    $(window).bind('resize', function(event){
        equalize_layout_cols();
    });
    $(document).ready(function(){
        equalize_layout_cols();
    });
    //]]>
    </script>
    {% endblock %}{% block head_more_js %}
{% endblock %}{% endspaceless %}</head>

<body{% block body_attr %}{% endblock %}>

    <div id="root">
        <div id="header">
            <div class="width-ajuster">
                <h1><a href="{{ SITE.web_url }}" title="{{ SITE.name }}"><span>{{ SITE.name }}</span></a></h1>
            </div>
        </div>
        
        {% block body_content %}<div id="body_content">
            <div class="width-ajuster">
                <div class="wrap">
                    <div class="wrapped-content">
                        {% block breadcrumbsroot %}<p id="breadcrumbs">{% block breadcrumbs %}{% autobreadcrumbs_links %}{% endblock %}</p>{% endblock %}
                        {% block action_menu %}{% endblock %}
                        <div class="cale"></div>
                        
                        {% block content %}{% endblock %}
                    </div>
                </div>
            
                {% block context_menu %}{% endblock %}
                <div class="cale"></div>
            </div>
        </div>{% endblock %}
    
        
        <div id="account-menu">
            <div class="width-ajuster">
                <h2>{% trans "Menu" %}</h2>
                <ul class="flat_bulletlist">
                    {% if user.is_authenticated %}
                        <li class="simple-text">{% blocktrans with username=user.username %}Connected as <strong><ins>{{ username }}</ins></strong>{% endblocktrans %}</li>
                        <li><a href="{% url auth_logout %}">{% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a href="{% url auth_login %}">{% trans "Login" %}</a></li>
                        <li><a href="{% url registration_register %}">{% trans "Register" %}</a></li>
                    {% endif %}
                    {% if user.is_staff %}<li><a href="{% url admin:index %}">{% trans "Django admin" %}</a></li>
                    <li{% currentwalkthroughto 'documents-board' %} class="active"{% endcurrentwalkthroughto %}><a href="{% url documents-board %}">{% trans "Document management" %}</a></li>{% endif %}
                </ul>
                <div class="cale"></div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div class="width-ajuster">
            <p>{% blocktrans %}Thenon David © 2012 All rights reserved{% endblocktrans %}</p>
        </div>
    </div>

</body>
</html>