{% extends "skeleton.html" %}
{% load i18n autobreadcrumb documents_menus assets %}{% load url from future %}

{% block metas %}{% comment %}<meta name="description" content="Blah blah">
<meta name="author" content="Moi">
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">{% endcomment %}{% endblock %}

{% block head_base_links %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block head_base_js %}
    {% assets "modernizr_js", "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block body_content %}{% spaceless %}

<div id="header-container"{% block header_topbar_attrs %} class="contain-to-grid"{% endblock %}>
    <nav class="top-bar">
        <ul id="brand-container">
            <li class="name"><h1><a href="/" title="{{ SITE.name }}">{{ SITE.name }}</a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <section>
            <ul class="right global-menu">
                <li class="has-dropdown">
                    <a href="{% url 'documents-index' %}">Documents</a>
                    {% document_page_treemenu 0 'sveedocuments/global_docs_treemenu.html' %}
                </li>
                <li><a href="{% url 'tribune-board' %}">Tribune</a></li>
                {% if user.is_authenticated %}
                    <li class="has-dropdown">
                        <a href="#"><strong>{{ user.username }}</strong></a>
                        <ul class="dropdown">
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">{% trans "Django admin" %}</a></li>
                                <li{% currentwalkthroughto 'documents-board' %} class="active"{% endcurrentwalkthroughto %}><a href="{% url 'documents-board' %}">{% trans "Document management" %}</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="has-dropdown">
                        <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </section>
    </nav>
</div>
{% endspaceless %}

{% block content_container %}<div id="content-container"{% block base_content_attr %}{% endblock %}>{% block base_content %}{% endblock %}</div>{% endblock %}

{% spaceless %}
<div id="footer-container" class="row-fluid unpadded">
    <div class="mentions text-center">
        <div class="row">
            <p>{% blocktrans %}Thenon David © 2013 All rights reserved{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endspaceless %}{% endblock %}